name: CI
on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: haskell-actions/setup@v2
      id: setup
      with:
        ghc-version: '9.10.2'
        cabal-version: 'latest'
        cabal-update: true
    - name: Generate Build Plan
      run: |
        cabal configure --enable-tests --enable-benchmarks --enable-documentation
        cabal build all --dry-run
    - name: Restore Cached Dependencies
      uses: actions/cache/restore@v4
      id: cache
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: plan-${{ hashFiles('**/plan.json') }}
        restore-keys: plan-
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: cabal build all --only-dependencies
    - name: Save Cached Dependencies
      uses: actions/cache/save@v4
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: ${{ steps.cache.outputs.cache-primary-key }}
    - name: Check doctest-driver.cabal
      run: cabal check
      working-directory: driver
    - name: Check doctest-support.cabal
      run: cabal check
      working-directory: support
    - run: cabal build all
    - run: cabal test all
    - run: cabal haddock-project
    - uses: actions/upload-pages-artifact@v3
      with:
        path: haddocks

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4
